name: build
on:
  workflow_dispatch:
    inputs:
      version:
        description: 'version'
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - goos: windows
            goarch: amd64
          - goos: windows
            goarch: arm64
          - goos: darwin
            goarch: amd64
          - goos: darwin
            goarch: arm64
          - goos: linux
            goarch: amd64
          - goos: linux
            goarch: arm64
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25.4
      - name: Build
        run: |
          mkdir -p output
          go build -o output/RealiTLScanner -trimpath -buildvcs=false -ldflags="-s -w -buildid=" -v
        env:
          CGO_ENABLED: 0
          GOOS: ${{ matrix.goos }}
          GOARCH: ${{ matrix.goarch }}
      - name: Rename
        run: |
          cd output
          if [[ ${{ matrix.goos }} == 'windows' ]]; then
            mv RealiTLScanner RealiTLScanner-${{ matrix.goos }}-${{ matrix.goarch }}.exe
          else
            mv RealiTLScanner RealiTLScanner-${{ matrix.goos }}-${{ matrix.goarch }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: binary-${{ matrix.goos }}-${{ matrix.goarch }}
          path: output
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: 
      - build
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: artifacts
          merge-multiple: true
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: artifacts/*
          name: ${{ inputs.version }}
          tag: ${{ inputs.version }}
          token: ${{ secrets.GITHUB_TOKEN }}
